body {
    font-size: 16px;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    text-align: center;
    max-height: 300px;
}
h1 {
    margin-top: 20px;
    /* Adicionamos um espaço no topo do h1 para separá-lo das imagens */
    text-align: justify;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}